@use "partials/variables" as *;
@use "partials/header" as *;
@use "partials/functional-classes" as *;
@use "partials/main-content" as *;
@use "partials/sidebar" as *;
@use "partials/footer" as *;

:root {
    --measure: 60ch;
    --lineheight: 1.5rem;
    --fontsz2: calc(1rem + 0.125vw);
    --s1: var(--lineheight, 1.5rem);
    --s2: calc(var(--s1, 1.5rem) * 2);
}

body {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
    font-size: var(--fontsz2, 1rem);
}

html,
body,
div,
header,
nav,
main,
img,
figure,
footer {
    max-inline-size: none;
}

h1 {
    font-size: calc(2em + 2vw);
    max-width: 20ch;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25 em;
}

h5 {
    font-size: 1.125 em;
}

.wrapper {
    max-width: 1200px;
    margin-bottom: var(--s2, 3rem);
}

.search img {
    float: left;
    margin-right: var(--s1, 1.5rem);
    margin-bottom: var(--s1, 1.5rem);
    margin-top: var(--s1, 1.5rem);
}

html,
body,
div,
header,
nav,
main,
footer {
    max-inline-size: none;
}

.max-inline-size\:measure {
    max-inline-size: var(--measure);
}

.max-inline-size\:measure\/2 {
    max-inline-size: calc(var(--measure) / 2);
}

.with-sidebar {
    display: flex;
    flex-wrap: wrap;
    gap: var(--s1);
}

.with-sidebar > :last-child {
    flex-grow: 1;
}

.with-sidebar > :first-child {
    flex-basis: 0;
    flex-grow: 999;
    min-inline-size: 50%;
}

.skip-to-content-link {
    color: white;
    margin-top: var(--s2, 3rem);
    margin-bottom: var(--s2, 3rem);
    font-weight: 500;
}

.adaptive-font-area {
    font-size: var(--fontsz2, 1.5rem);
}

.adaptive-font-area h1 {
    font-size: 4em;
    margin-bottom: var(--s2, 3rem);
}

.adaptive-font-area h2,
.adaptive-font-area h3 {
    font-size: 2em;
}

aside {
    margin-right: var(--s2, 3rem);
}

.entry-content {
    p:not(p img) {
        max-inline-size: var(--measure);
        box-sizing: content-box;
        margin-inline: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    img {
        max-width: calc(60ch + 40vw);
        height: auto;
        margin: var(--s2, 3rem) 0;
        overflow: hidden;
    }
    @media (max-width: 800px) {
        img {
            max-width: 100%;
        }
    }
}

.author-info{
    color: white;
}

.author-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    gap: var(--s1, 1.5rem);

    padding-left: var(--s1, 1.5rem);
}

.author-image > .avatar{
    border-radius: 50%;
    max-width: var(--s2, 3rem);
    height: auto;
}

.author-info{
    flex-basis: auto;
}

.author-info > h3{
    font-size: calc($adaptive-font-size*0.75);
    font-weight: 300;
}