@use 'partials/variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main-navigation {

    font-family: $font-stack;
    font-size: 1em;

    a {
        text-decoration: none;
    }

    ul {
        display: flex;
        background: $primary-color;
        list-style: none;
        margin: 0;
        padding-left: 0;
    }

    li {
        display: block;
        transition-duration: 0.5s;
        padding: 0 1rem;
        color: $text-light;
        padding: 1rem;
        position: relative;
        text-decoration: none;
    }

    li a {
        color: $text-light;
    }

    li:hover,
    li:focus-within {
        cursor: pointer;
        background: $primary-color-dark;
    }

    ul li ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: 0;
        display: none;
        width: 300px;
    }

    ul li:hover > ul,
    ul li:focus-within > ul,
    ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    ul li ul li {
        clear: both;
        width: 100%;
    }

    ul li ul li ul {
        background-color: $primary-color-darkest;
        z-index: 1;

        margin-left: 300px;
        margin-top: -1rem;
    }

    ul li ul li ul li {
        background-color: $primary-color-darkest;
    }
}

