#wpadminbar * {
  max-inline-size: inherit;
}

header nav ul {
  margin: 0;
  padding: 0;
  max-inline-size: inherit;
  list-style: none;
  justify-content: center;
  display: flex;
  flex-flow: row wrap;
}
header nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: var(--s1, 1.5rem);
}
header nav ul li:hover {
  background-color: black;
}
header nav ul li:hover a {
  color: white;
}

.site-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  flex-basis: auto;
  padding: 0.5rem var(--s1, 1.5rem);
}
.site-header .site-title a {
  font-weight: 600;
  font-size: calc(1.5rem + 0.125vw);
  text-decoration: none;
  color: #fff;
}
.site-header .site-title a:hover {
  text-decoration: underline;
}

.site-header {
  background-color: transparent;
  border-bottom: 1px solid #fff;
}

.entry-title {
  padding-left: var(--s1, 1.5rem);
  background-color: #0000005f;
}

.header-featured-image {
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
}

.center {
  box-sizing: content-box;
  margin-inline: auto;
  max-inline-size: var(--measure);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.with-sidebar-right {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.with-sidebar-right > :last-child {
  flex-grow: 1;
}

.with-sidebar-right > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 60%;
}

.areal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.areal * {
  margin-block: 0;
}

.areal * + * {
  margin-block-start: var(--space, 1.5rem);
}

/*
    cover blocks
*/
.cover {
  display: flex;
  flex-direction: column;
  min-block-size: 20vh;
  padding: 3rem;
  padding-left: calc(3rem + 2vw);
  background-color: black;
  color: white;
}

.cover > * {
  margin-block: 1rem;
}

.cover > :first-child:not(h1) {
  margin-block-start: 0;
}

.cover > :last-child:not(h1) {
  margin-block-end: 0;
}

.cover > h1 {
  margin-block: auto;
  padding: 0.5rem var(--s1, 1.5rem);
}

main {
  margin: var(--s1, 1.5rem) 0;
}

.sidebar {
  margin-top: var(--s2, 3rem);
}

.sidebar h2,
.sidebar h3 {
  font-size: 2em;
}

.sidebar li {
  border-bottom: 2px solid black;
}

.sidebar li:last-child {
  border-bottom: none;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul a {
  text-decoration: none;
  color: black;
  display: inline-block;
  padding: var(--s1, 1.5rem);
  font-weight: 600;
}

.sidebar li:hover {
  background-color: black;
}
.sidebar li:hover a {
  color: white;
}

.footer-wrapper {
  margin-top: var(--s2, 1.5rem);
  padding-bottom: var(--s1, 1.5rem);
  background-color: black;
}

.footer-wrapper > footer a {
  text-decoration: none;
  color: black;
  font-weight: 600;
  display: inline-block;
  padding: 1.5rem;
  color: #fff;
}

.footer-wrapper > footer a:hover {
  background-color: white;
  color: black;
}

:root {
  --measure: 60ch;
  --lineheight: 1.5rem;
  --fontsz2: calc(1rem + 0.125vw);
  --s1: var(--lineheight, 1.5rem);
  --s2: calc(var(--s1, 1.5rem) * 2);
}

body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", "Franklin Gothic Medium", Tahoma, sans-serif;
  font-size: var(--fontsz2, 1rem);
}

html,
body,
div,
header,
nav,
main,
img,
figure,
footer {
  max-inline-size: none;
}

h1 {
  font-size: calc(2em + 2vw);
  max-width: 20ch;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25 em;
}

h5 {
  font-size: 1.125 em;
}

.wrapper {
  max-width: 1200px;
  margin-bottom: var(--s2, 3rem);
}

.search img {
  float: left;
  margin-right: var(--s1, 1.5rem);
  margin-bottom: var(--s1, 1.5rem);
  margin-top: var(--s1, 1.5rem);
}

html,
body,
div,
header,
nav,
main,
footer {
  max-inline-size: none;
}

.max-inline-size\:measure {
  max-inline-size: var(--measure);
}

.max-inline-size\:measure\/2 {
  max-inline-size: calc(var(--measure) / 2);
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--s1);
}

.with-sidebar > :last-child {
  flex-grow: 1;
}

.with-sidebar > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

.skip-to-content-link {
  color: white;
  margin-top: var(--s2, 3rem);
  margin-bottom: var(--s2, 3rem);
  font-weight: 500;
}

.adaptive-font-area {
  font-size: var(--fontsz2, 1.5rem);
}

.adaptive-font-area h1 {
  font-size: 4em;
  margin-bottom: var(--s2, 3rem);
}

.adaptive-font-area h2,
.adaptive-font-area h3 {
  font-size: 2em;
}

aside {
  margin-right: var(--s2, 3rem);
}

.entry-content p:not(p img) {
  max-inline-size: var(--measure);
  box-sizing: content-box;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.entry-content img {
  max-width: calc(60ch + 40vw);
  height: auto;
  margin: var(--s2, 3rem) 0;
  overflow: hidden;
}
@media (max-width: 800px) {
  .entry-content img {
    max-width: 100%;
  }
}

.author-info {
  color: white;
}

.author-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: var(--s1, 1.5rem);
  padding-left: var(--s1, 1.5rem);
}

.author-image > .avatar {
  border-radius: 50%;
  max-width: var(--s2, 3rem);
  height: auto;
}

.author-info {
  flex-basis: auto;
}

.author-info > h3 {
  font-size: calc((1.5rem + 0.125vw) * 0.75);
  font-weight: 300;
}

/*# sourceMappingURL=style.css.map */
