@use "variables" as *;

.sidebar{
    margin-top: var(--s2, 3rem);
}

.sidebar h2,
.sidebar h3 {
    font-size: 2em;
}

.sidebar li {
    border-bottom: 2px solid $primary-border-color;
}

.sidebar li:last-child {
    border-bottom: none;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul a {
    text-decoration: none;
    color: $primary-text-color;
    display: inline-block;
    padding: var(--s1, 1.5rem);
    font-weight: 600;
}

.sidebar li:hover {
    background-color: $primary-hover-color;
    a {
        color: white;
    }
}
